<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
</head>
<body>
<h3>REST Adapter Service</h3>
<p>REST Adapter Service on <a href="https://github.com/nordic-institute/REST-adapter-service" target="new">GitHub</a>.</p>
<p><b>Consumer</b></p>
<p>Consumer endpoint: <a th:href="${requestURL} + 'Consumer'" th:text="${requestURL} + 'Consumer'"></a></p>
<div>
    Properties:
    <ul>
        <li>WEB-INF/classes/consumer-gateway.properties</li>
        <li>WEB-INF/classes/consumers.properties</li>
    </ul>
</div>
<p><b>Provider</b></p>

<p>Provider endpoint: <a th:href="${requestURL} + 'Provider'" th:text="${requestURL} + 'Provider'"></a></p>

<p>Provider WSDL: <a th:href="${requestURL} + 'Provider?wsdl'" th:text="${requestURL} + 'Provider?wsdl'"></a></p>
<p>WSDL path: <i>WEB-INF/classes/provider-gateway.wsdl</i></p>
<div>
    Properties:
    <ul>
        <li>WEB-INF/classes/provider-gateway.properties</li>
        <li>WEB-INF/classes/providers.properties</li>
    </ul>
</div>
</body>
</html>